Flask
Flask-CORS
mysql-connector-python
gunicorn
Flask-SQLAlchemy
flask_jwt_extended
marshmallow
Flask-Migrate
Flask-WTF
Werkzeug
pytest
pytest-flask
certifi
charset-normalizer
click
colorama
contourpy
cycler
fonttools
idna
joblib
kiwisolver
matplotlib
nltk
numpy
packaging
pandas
pillow
PyAudio
pyparsing
pythainlp
python-crfsuite
python-dateutil
regex
requests
scikit-learn
scipy
seaborn
six
sklearn-crfsuite
SpeechRecognition
tabulate
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
pydub
pytz
rapidfuzz
