<div class="check-category">
    <div class="form-check form-check-inline" *ngFor="let category of menu_types">
        <input class="form-check-input" type="checkbox" [id]="'Checkbox' + category.id" [value]="category.id"
            [checked]="selectedCategories.includes(category.id)" (change)="onCategoryChange($event)">
        <label class="form-check-label" [for]="'Checkbox' + category.id">{{ category.name }}</label>
    </div>
</div>

<div class="audio-record-container">
    <button *ngIf="!isRecording" (click)="startRecording()" class="btn btn-primary">
        เริ่มบันทึกเสียง
    </button>
    <button *ngIf="isRecording" (click)="stopRecording()" class="btn btn-danger">
        หยุดบันทึก
    </button>
</div>

<div class="container-order">
    <div class="row-order">
        <div class="order-card" *ngFor="let order of filteredOrders">
            <h6 class="fw-bold">ออเดอร์ที่ {{ order.order_id }}, โต๊ะที่ {{ order.table_id }}</h6>
            <p class="text-muted">{{ order.orders_items?.[0] ?.create_date || '-' }}</p>

            <div class="order-item d-flex align-items-start" *ngFor="let item of order.orders_items"
                [ngClass]="getOrderItemClass(item)">
                <div class="flex-grow-1">
                    <h6 class="mb-1">
                        {{ item.menus?.[0]?.menu_name || 'ไม่มีข้อมูล' }}
                        <span class="text-muted">x{{ item.menus?.[0]?.menu_qty || 0 }}</span>
                    </h6>
                    <small class="text-muted">{{ item.menus?.[0]?.menu_note || "-" }}</small>
                </div>
                <div class="order-status">
                    <p>
                        <strong>เตรียม</strong>
                        <span class="status-indicator" [class]="getOrderStatusClass(item.order_item_id)"
                            (click)="changeOrderStatus(order.order_id, item.order_item_id)">
                        </span>
                    </p>
                    <p>
                        <strong>เสิร์ฟ</strong>
                        <span class="status-indicator" [class]="getServeStatusClass(item.order_item_id)"
                            (click)="changeServeStatus(order.order_id, item.order_item_id)">
                        </span>
                    </p>
                </div>
                <div class="order-status">
                    <p>
                        <strong>ยกเลิก</strong>
                        <span class="status-indicator" (click)="cancelOrder(order.order_id, item.order_item_id)">
                        </span>
                    </p>
                    <p>
                        <strong>waste</strong>
                        <span class="status-indicator" (click)="wasteOrder(item.order_item_id, (item.menus && item.menus.length > 0) ? item.menus[0].menu_name : '', 
                            (item.menus && item.menus.length > 0) ? item.menus[0].menu_qty : 0)">
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="resFromModel; else noData">
    <p>คำสั่ง: {{ resFromModel.result.COMMAND }}</p>
    <p>อาหาร: {{ resFromModel.result.FOOD?.[0] }}</p>
    <p>โต๊ะที่: {{ resFromModel.result.TABLE?.[0] }}</p>
</div>

<ng-template #noData>
    <p>ยังไม่มีข้อมูล</p>
</ng-template>