.menu-item {
    width: 100%;
    aspect-ratio: 1 / 1; /* ทำให้ขนาดเป็นสี่เหลี่ยมจัตุรัส */
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.add-menu {
    background: #f8f9fa;
    border: 2px dashed #aaa;
    font-size: 1.5rem;
    font-weight: bold;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fw-bold {
    color: #5C3D2E !important;
}

.modal-custom {
    background-color: #5C3D2E;
    color: white;
    font-weight: bold;
}
