<div *ngIf="!isLogin">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 form-container">
            <h1 class="text-center">Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="username" class="form-control" id="username" placeholder="Enter your username"
                        formControlName="username" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password"
                        formControlName="password" required />
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
</div>
</div>