<nav class="nav nav-pills nav-fill kitchen-nav-custom">
    <a class="nav-link" routerLink="table">Table</a>
    <a class="nav-link" routerLink="kitchen-order">Order</a>
    <a class="nav-link" routerLink="recipe/1">Recipes</a>
    <a class="nav-link" routerLink="ingredient">Stock</a>
    <a class="nav-link" routerLink="history">Order History</a>
    <a class="nav-link" routerLink="waste">Waste History</a>
    <button class="btn btn-danger ms-auto me-3" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
</nav>